# Dependencies
/vendor/
/composer.lock
/node_modules/
/package-lock.json
/tools/node_modules/
/tools/package-lock.json

# PHPUnit cache
/.phpunit.cache/

# Build artifacts (coverage, infection reports)
/build/
